.Rproj.user
.Rhistory
.RData
.Ruserdata
.vscode/
*.html
Cluster/Data/*
Data/continuous/ord
Data/continuous/ace
Data/continuous/disparity
Data/discrete/ord
Data/discrete/ace
Data/discrete/ace
Data/trees/
Data/trees_alternative/
aceideas.md
Review/
Data/continuous_wagner_1
Data/discrete_wagner_1
