.Rproj.user
.Rhistory
.RData
.Ruserdata
.vscode/
*.html
sampleddiscreteanc.Rds
discreteanc.Rds
contanc.Rds
contmatrices.Rds
samplecontanc.Rds
discreteanc.rds
ord_sample_*.rds
ord_sample_*.Rds
fossilanc.Rds
sampleddiscreteanc.Rds
relanc.Rds
strictanc.Rds
postordace.Rds
sampleanc.Rds
ord.*.Rds
distances_sample_*.rds
ord_*.Rds
sampleanc.rds"
Data/cluster/discrete
Data/cluster/*
